$uniRedFade:  rgb(225, 34, 18);
$uniRedLight:  rgba(225, 34, 18, .5);
$uniRed: red;
$uniBlackDark: rgba(0,0,0, 0.9); 
$uniBlack: rgba(0,0,0, 0.8); 
$uniBlackMid: rgba(0,0,0, 0.6); 
$uniBlackLight: rgba(0,0,0, 0.2); 
$uniYellow: rgb(255, 204, 0);
$uniWhiteLight: rgba(255,255,255, .8);
$uniWhiteLighter: rgba(255,255,255, .4);
$uniWhiteLightest: rgba(255,255,255, .2)

