@import '../styles/colors';

.carousel-container{
    .carousel-control-next-icon, .carousel-control-prev-icon{
        height: 40px;
        width: 30px;
    }
    .carousel.slide{
        .carousel-indicators{
            margin-bottom: 0;
            width: 70%;
        }
    }
    .carousel-caption{
        text-align: left;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
        width: 100%;
        padding: 0;
        padding-top: 5px;
        padding-left: 10px;
        h3{
            font-family: 'Open Sans', sans-serif;
            color: white;
            margin-bottom: 2px;
        }
        a{
            font-family: 'Open Sans', sans-serif;
            color: white;
            padding-left: 3px;
            padding-right: 3px;
            font-size: 12px;
        }
        a:hover{
            color: $uniWhiteLight;
        }
    }
}


// Responsive Design
// PHONE/TABLET: 0-1024
// @media (max-width: 450px) {
@media (max-width: 1024px) {
    .carousel-caption{
       display: none;        
    }
    .carousel-container{
        // margin-top: 60%;
        padding-top: 55px;
        .carousel-control-next, .carousel-control-prev{
            display: none;
        }
        .carousel.slide{
            .carousel-indicators{
                margin-bottom: 0;
                // z-index: 0;
            }
        }
    }
}