@import "./colors";

.social-carousel{
    width: 60%;
    margin-left: 20%;
    margin-top: 8%;
    .carousel-subtitle{
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        text-align: center;
        color: red;
        margin-top: 8%;
        margin-bottom: 2%;
        font-size: 24px;
    }
}

.page-container{
    position: relative;
    width: 100%;
    background-color: black;
    opacity: .9;
    overflow: hidden;
    padding-bottom: 15%;
    #fixtures, #teams, #grounds, #training, #culture, #contact, #history{
        padding-top: 5%;
    }
    .privacy-link{
        color: red;
        line-height: 60px;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    .page-header{
        padding-top: 110px;
        text-align: center;
        .utas-logo{
            width: 150px;
        }
        .page-title{
            font-family: 'Playfair Display', serif;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-bottom: 40px;
            margin-top: 0px;
            padding-top: 0;
            color: $uniWhiteLight;
            font-size: 48px;
        }
    }
    .page-banner{
        text-align: center;
        .news-image{
            width: 40%;
        }
        .banner-image{
            width: 75%;
        }
        .solstice-credit{
            position: relative;
            padding-top: 5px;
            p{
                color:white;
            }
            a{
                color: white;
            }
        }
    }
    .team-content{
        padding: 2%;
        margin: 0;
        .right-col{
            text-align: right;
            h4{
                text-align: right;
            }
            p{
                text-align: right;
            }
        }
        h3{
            color: red;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 38px;
            margin-bottom: 0px;
            margin-top: 5%;
        }
        h4{
            color: red;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            text-align: left;
            margin-top: 5%;
            margin-bottom: 0;
            font-size: 28px;
            margin-left: 0;
            margin-right: 0;
        }
        p{
            text-align: left;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            font-size: 16px;
            line-height: 26px;
            padding-top: 0px;
        }
        img{
            padding: 0;
            margin: 0;
            margin-bottom: 5%;
            border: 2px solid $uniWhiteLightest;
        } 
    }
    .training-subtitle{
        text-align: center;
        margin: 4%;
      
        h3{
            color: red;
            font-size: 34px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
        }
        p{  
            color: white;
            font-size: 1.25rem;
            margin-bottom: 10%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
        }
    }
    .training-content{
        .left-col, .right-col{
            margin:0;
            padding-left: 10%;
            padding-right: 10%;
        }
        img{
            width: 100%;
        }
        h4{
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            color:red;
            text-align: center;
            font-size: 38px;
            margin-bottom: 10%;
        }
        h6{
            font-size: 16px;
            line-height: 26px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            background-color: hsla(0,0%,100%,.05);
            color:white;
            padding: 10px;
            height: auto;
            margin: 0;
            text-align: center;
            padding: 5%;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    .grounds-content{
        h3{
            color: red;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            font-size: 38px;
            margin-bottom: 2.5%;
            margin-top: 5%;
            text-align: center;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            padding: 0;
            margin: 0;
            text-align: left;
            width: 80%;
            padding-left: 20%;
            color: white;
            font-size: 18px;
            line-height: 28px;
        } 
    }
    .history-content{
        margin-top: 5%;
        text-align: center;
        h6{
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            text-align: center;
            color: red;
            margin-top: 8%;
            margin-bottom: 1%;
            font-size: 24px;
        }   
        p{
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            text-align: left;
            width: 80%;
            padding-left: 20%;
            color: white;
            font-size: 18px;
            line-height: 28px;
            margin-top: 2%;
        }
        img{
            text-align: center;
        }
    }
    .culture-content{
        h3{
            color: red;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            font-size: 38px;
            margin-top: 5%;
            text-align: center;
        }
        h5{
            color: white;
            text-align: center;
            margin-top: 0;
            margin-bottom: 5%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
        }
        p{
            text-align: left;
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
        }
        ul{
            margin-top: 2%;
            margin-left: 20%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            li{
                color: #fff;
                margin-top: 10px;
                text-align: left;
              
                p{
                    margin: 0;
                    padding: 0;
                }
            } 
        }
    }
    .news-page-content{
        margin-top: 5%;
        ul{
            list-style: none;
            a{
                color: red;
                opacity: .7;
            }
            h2{
                color: red;
                margin-top: 4%;
                width: 80%;
                padding-left: 10%;
                margin-bottom: 0.2rem;
            }
            h2:hover{
                opacity: .7;
            }
            p{
                color: white;
                width: 80%;
                padding-left: 10%;
            }
            p:hover{
                // color: grey;
                opacity: 0.7;
            }
        }
    }  
    .news-content{
        margin-top: 5%;
        width: 80%;
        padding-left: 20%;
        h2{
            color: red;
            margin-top: 4%;
            // width: 80%;
            // padding-left: 10%;
            margin-bottom: 3rem;
            text-align: center;
        }
        p{
            color: white;
            width: 100%;
            // padding-left: 10%;
            margin-top: 2%;
        }
        ul{
            padding-left: 5%;
            margin-top: 5%;
            margin-bottom: 5%;
            li{
                // list-style-type: none;
                p{
                    color: white;
                    padding-left: 10px;
                    font-size: 16px;
                }
            }
        }
    }
    .privacy-content {
        color: white;
        width: 80%;
        margin-left: 10%;

    }
    .page-content{
        .contact-content{
            h4{
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
        .left-col, .right-col{
            margin-top: 5%;
            padding-left: 5%;
            padding-right: 5%;
        }
        .right-col{
            text-align: right;
            h4{
                text-align: right;
            }
            a{
                text-align: right;
                padding-right: 0;
                padding-left: 10px;
            }
        }
      
        img{
            width: 60%;
            margin-top: 2%;
        }
        h2{
            color: red;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            font-size: 38px;
            margin-bottom: 3%;
            margin-top: 5%;
            width: 100%;
            // padding-left: 20%;
            text-align: center;
        }
        .page-subtitle{
            margin-bottom: 0;
        }
        .fixtures-subtitle{
            margin-bottom: 0;
            text-align: left;
            padding-left: 25%;
        }
        h3{
            color: red;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            font-size: 38px;
            margin-bottom: 20px;
            margin-top: 5%;
        }
        h4{
            color: red;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            font-size: 22px;
            margin-bottom: 0px;
            margin-top: 4%;
            text-align: left;
        }
        .fft-links{
            text-align: left;
            padding-left: 25%;
        }
        p{
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            font-size: 16px;
            line-height: 26px;
            // text-align: center;
            padding-top: 10px;
        }
        ul{
            margin-top: 30px;
            width: 90%;
            padding: 0;
            margin-left: 5%;
            margin-right: 5%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
        }
        li{
            color: white;
            // color: black;
            margin-top: 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            text-align: left;
            width: 70%;
        }
        a{
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            text-decoration: none;
            font-size: 16px;
            line-height: 26px;
            justify-content: center;
            padding-right: 20px;
            padding-top: 10px;
            padding-left: 0;
            text-align: left;
        }
        hr{
            border: none;
            margin-top: 10px;
            // margin-bottom: 40px; 
        }
    }
}


// Responsive Design
// PHONE/TABLET: 0-1024
@media (max-width: 1024px) {
    .social-carousel{
        width: 90%;
        margin-left: 5%;
        margin-top: 15%;
        .carousel-subtitle{
            margin-top: 15%;
            margin-bottom: 3%;
            font-size: 14px;
        }
    }
    .page-container{
        .page-header{
            padding-top: 110px;
            .utas-logo{
                width: 120px;
            }
            .page-title{
                font-size: 34px;
                // margin-bottom: 5%;
            }
        }
        .page-banner{
            .news-image{
                width: 90%;
            }
            .banner-image{
                width: 90%;
            }
            .solstice-credit{
                // margin-top: 5px;
                width: 90%;
                padding-left: 5%;
                p{
                    font-size: 8px;
                    line-height: 12px;
                }
            }
        } 
        .news-page-content{
            margin-top: 10%;
            ul{
                padding: 0;
                h2{
                    margin-top: 10%;
                    padding-left: 10%;
                    width: 90%;
                    font-size: 22px;
                }
                p{
                    width: 90%;
                    padding-left: 10%;
                }
            }
        }  
        .news-content{
            margin-top: 10%;
            width: 90%;
            padding-left: 10%;
            h2{
                margin-top: 5%;
                // width: 90%;
                // padding-left: 10%;
                text-align: center;
            }
            p{
                // width: 90%;
                // padding-left: 10%;
                margin-top: 2%;
            }
            ul{
                // padding-left: 10%;
                // width: 90%;
                margin-top: 10%;
                margin-bottom: 10%;
                li{
                    p{
                        color: white;
                        padding-left: 5%;
                        font-size: 16px;
                    }
                }
            }
        }
        .page-content{
            padding-bottom: 10%;
            .left-col, .right-col{
                text-align: center;
                h4{
                    text-align: center;
                }
                a{
                    text-align: center;
                    padding-right: 5px;
                    padding-left: 5px;
                }
            }
            h2{
                font-size: 30px;
                // text-align: left;
                width: 95%;
                padding-left: 5%;
                padding-top: 2%;
                padding-bottom: 2%;
            }
            h3{
                // text-transform: uppercase;
                padding-top: 30px;
                margin-bottom: 5px;
            }
            h4{
                padding-top: 20px;
                margin: 0;
                text-transform: uppercase;
            }
            p{
                padding-top: 5px;
            }
            .page-subtitle{
                text-align: center;
                font-size: 38px;
            }
            ul{
            width: 90%;
            padding-left: 10%;
                li{
                    width: 100%;
                }
            }
            .left-col, .right-col{
                a{
                    padding-left: 0;
                }
            }
            a{
                padding-left: 5%;
                width: 100%;
                padding-top: 10%;
                font-size: 18px;

            }
            .contact-content{
                h2{
                    text-align: center;
                }
                h4{
                    padding: 2%;
                    width: 100%;
                    padding-top: 10%;
                    font-size: 18px;
                }
            }
        } 

        .team-content{
            width: 95%;
            text-align: center;
            .right-col{
                text-align: center;
                h4{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
            h4{
                padding: 5px;
                padding-left: 0;
                font-size: 18px;
                text-align: center;
            }
            p{
                font-size: 12px;
                line-height: 18px;
                text-align: center;
            }
            img{
                margin-bottom: 15%;
            }
        }
        .grounds-content{
            h3{
                font-size: 30px;
                text-align: center;
                padding: 20px;
                // padding-bottom: 40px;
            }
            p{
                width: 90%;
                margin-right: 0;
                padding: 0 0 0 10%;
                font-size: 16px;
            }
        }
        .training-subtitle{
            h3{
                font-size: 30px;
                padding-top: 20px;
            }
        }
        .training-content{
            .left-col, .right-col{
                width:100%;
            }
            h4{
                font-size: 30px;
                padding-top: 60px;
                margin-bottom: 15px;
            }
        }
        
    .history-content{
        margin-top: 10%;
        h6{
            margin-top: 15%;
            margin-bottom: 3%;
            font-size: 16px;
        }   
        p{
            width: 90%;
            padding-left: 10%;
            font-size: 16px;
            line-height: 26px;
            margin-top: 5%;
        }
        img{
            text-align: center;
            width: 80%;
        }
    }
        .culture-content{
            h3{
                font-size: 30px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
            }
            p{
                width: 90%;
                margin-right: 0;
                padding: 0 0 0 10%;
                font-size: 16px;
                margin: 0;
                margin-top: 40px;
            }
            ul{
                margin: 20px;
                margin-left: 25px;
            }
        }
    }
}